Repository wandb/wandb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wandb/sdk-team, @wandb/art-reg-team, @wandb/sweeps-launch-team

.github/CODEOWNERS:

# GraphQL
/wandb/sdk/internal/internal_api.py @wandb/sdk-team

# Changing public interfaces
/tests/unit_tests/test_library_public.py @wandb/sdk-team
/wandb/__init__.py @wandb/sdk-team

# Updating core tools and testing infrastructure
/tests/backend_fixtures.py @wandb/sdk-team
/tests/conftest.py @wandb/sdk-team

/tests/system_tests/backend_fixtures.py @wandb/sdk-team
/tests/system_tests/wandb_backend_spy/ @wandb/sdk-team
/tests/system_tests/conftest.py @wandb/sdk-team

/tests/unit_tests/conftest.py @wandb/sdk-team

/tools/changelog.py @wandb/sdk-team
/tools/generate_stubs.py @wandb/sdk-team
/tools/local_wandb_server.py @wandb/sdk-team

# Updating type hints
/wandb/__init__.template.pyi @wandb/sdk-team
/wandb/__init__.pyi @wandb/sdk-team

# Packaging and releasing-related files
/pyproject.toml @wandb/sdk-team
/setup.py @wandb/sdk-team
/hatch.toml @wandb/sdk-team
/hatch_build.py @wandb/sdk-team
/CHANGELOG.unreleased.md @wandb/sdk-team
/CHANGELOG.md @wandb/sdk-team
/BREAKING.md @wandb/sdk-team
/MANIFEST.in @wandb/sdk-team
/CONTRIBUTING.md @wandb/sdk-team

# Core code owned by the SDK team
/core/ @wandb/sdk-team
/wandb/ @wandb/sdk-team

# System metrics
/gpu_stats/ @wandb/sdk-team

# CircleCI configuration
/.circleci @wandb/sdk-team

# GitHub configuration
/.github @wandb/sdk-team

# Internal helpers: used by multiple teams, any here can approve
/wandb/_iterutils.py @wandb/sdk-team @wandb/art-reg-team
/wandb/_strutils.py @wandb/sdk-team @wandb/art-reg-team
/wandb/_pydantic/ @wandb/sdk-team @wandb/art-reg-team


# Artifacts, Registries, Automations
/core/pkg/artifacts/                  @wandb/art-reg-team @wandb/sdk-team
/wandb/sdk/artifacts/                 @wandb/art-reg-team @wandb/sdk-team
/wandb/automations/                   @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/registries/        @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/artifacts.py       @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/automations.py     @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/integrations.py    @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_artifacts/   @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_registries/  @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_automations/ @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_artifacts/     @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_registries/    @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_automations/   @wandb/art-reg-team @wandb/sdk-team

# Launch
/wandb/sdk/launch/                    @wandb/sweeps-launch-team @wandb/sdk-team
/tests/system_tests/test_launch/      @wandb/sweeps-launch-team @wandb/sdk-team
/tests/unit_tests/test_launch/        @wandb/sweeps-launch-team @wandb/sdk-team

chore: restore ref
  tools/launch_release/build/Dockerfile
Owners: none

docs(sdk): add context to Image class on normalization (#10590)
  wandb/sdk/data_types/image.py
Owners: @wandb/sdk-team

transactionlog
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/stream/store.go
  core/internal/stream/store_test.go
  core/internal/stream/writer.go
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog.go
  core/internal/transactionlog/transactionlog_test.go
  core/internal/transactionlog/writer.go
Owners: @wandb/sdk-team

refactor: internal/transactionlog (#10508)
  core/internal/runsync/runreader.go
  core/internal/runsync/runreader_test.go
  core/internal/stream/store.go
  core/internal/stream/store_test.go
  core/internal/stream/writer.go
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/transactionlog.go
  core/internal/transactionlog/transactionlog_test.go
  core/internal/transactionlog/writer.go
Owners: @wandb/sdk-team

feat: live store abstraction on top of live leveldb log reader
  core/internal/leet/livestore.go
  core/internal/leet/livestore_test.go
Owners: @wandb/sdk-team

feat: line charts for epoch-based data in the terminal
  core/go.mod
  core/go.sum
  core/internal/leet/epochlinechart.go
  core/internal/leet/epochlinechart_test.go
  core/vendor/github.com/NimbleMarkets/ntcharts/LICENSE.txt
  core/vendor/github.com/NimbleMarkets/ntcharts/canvas/canvas.go
  core/vendor/github.com/NimbleMarkets/ntcharts/canvas/graph/graph.go
  core/vendor/github.com/NimbleMarkets/ntcharts/canvas/options.go
  core/vendor/github.com/NimbleMarkets/ntcharts/canvas/runes/runes.go
  core/vendor/github.com/NimbleMarkets/ntcharts/canvas/updatehandler.go
  core/vendor/github.com/NimbleMarkets/ntcharts/linechart/linechart.go
  core/vendor/github.com/NimbleMarkets/ntcharts/linechart/options.go
  core/vendor/github.com/NimbleMarkets/ntcharts/linechart/updatehandler.go
  core/vendor/github.com/charmbracelet/bubbles/LICENSE
  core/vendor/github.com/charmbracelet/bubbles/key/key.go
  core/vendor/github.com/lrstanley/bubblezone/.editorconfig
  core/vendor/github.com/lrstanley/bubblezone/.gitignore
  core/vendor/github.com/lrstanley/bubblezone/.golangci.yml
  core/vendor/github.com/lrstanley/bubblezone/LICENSE
  core/vendor/github.com/lrstanley/bubblezone/Makefile
  core/vendor/github.com/lrstanley/bubblezone/README.md
  core/vendor/github.com/lrstanley/bubblezone/manager.go
  core/vendor/github.com/lrstanley/bubblezone/manager_global.go
  core/vendor/github.com/lrstanley/bubblezone/messages.go
  core/vendor/github.com/lrstanley/bubblezone/scanner.go
  core/vendor/github.com/lrstanley/bubblezone/zoneinfo.go
  core/vendor/modules.txt
Owners: @wandb/sdk-team

chore: leet configuration
  core/internal/leet/config.go
  core/internal/leet/config_test.go
  core/internal/leet/testhelpers.go
Owners: @wandb/sdk-team

chore: read and process records from transaction log in leet
  core/internal/leet/messages.go
  core/internal/leet/reader.go
  core/internal/leet/reader_test.go
Owners: @wandb/sdk-team

feat: live leveldb log reader
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/livereader_test.go
Owners: @wandb/sdk-team

chore: add help page to leet
  core/go.mod
  core/internal/leet/handlers.go
  core/internal/leet/help.go
  core/internal/leet/model.go
  core/internal/leet/styles.go
  core/vendor/github.com/charmbracelet/bubbles/viewport/keymap.go
  core/vendor/github.com/charmbracelet/bubbles/viewport/viewport.go
  core/vendor/modules.txt
Owners: @wandb/sdk-team

chore: add system metrics definitions to leet
  core/internal/leet/systemmetrics.go
  core/internal/leet/systemmetrics_test.go
Owners: @wandb/sdk-team

transactionlogtest
  core/internal/transactionlogtest/readers.go
  core/internal/transactionlogtest/transactionlogtest.go
Owners: @wandb/sdk-team

also fix job name
  wandb/sdk/launch/runner/kubernetes_runner.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

chore: transactionlogtest (#10524)
  core/internal/transactionlogtest/readers.go
  core/internal/transactionlogtest/transactionlogtest.go
Owners: @wandb/sdk-team

settings static dict
  tests/unit_tests/test_handler.py
  tests/unit_tests/test_job_builder.py
  tests/unit_tests/test_sender.py
  tests/unit_tests/test_wandb_settings.py
  wandb/apis/importers/internals/internal.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/settings_static.py
  wandb/sync/sync.py
Owners: @wandb/sdk-team

delete unused progress.py code
  wandb/sdk/lib/progress.py
Owners: @wandb/sdk-team

refactor: initialize SettingsStatic with a dict instead of a proto (#10593)
  tests/unit_tests/test_handler.py
  tests/unit_tests/test_job_builder.py
  tests/unit_tests/test_sender.py
  tests/unit_tests/test_wandb_settings.py
  wandb/apis/importers/internals/internal.py
  wandb/sdk/internal/sender.py
  wandb/sdk/internal/settings_static.py
  wandb/sync/sync.py
Owners: @wandb/sdk-team

maybe saved work
  core/internal/observabilitytest/logging.go
  core/internal/runwork/work.go
  core/internal/runworktest/noopwork.go
  core/internal/stream/flowcontrol.go
  core/internal/stream/flowcontrol_test.go
  core/internal/stream/flowcontrolbuffer.go
  core/internal/stream/flowcontrolbuffer_test.go
  core/internal/stream/stream.go
  core/internal/stream/streaminject.go
  core/internal/stream/wire_gen.go
  core/internal/stream/writer.go
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/writer.go
Owners: @wandb/sdk-team

feat: flow control (#10073)
  core/internal/observabilitytest/logging.go
  core/internal/runwork/work.go
  core/internal/runworktest/noopwork.go
  core/internal/stream/flowcontrol.go
  core/internal/stream/flowcontrol_test.go
  core/internal/stream/flowcontrolbuffer.go
  core/internal/stream/flowcontrolbuffer_test.go
  core/internal/stream/stream.go
  core/internal/stream/streaminject.go
  core/internal/stream/wire_gen.go
  core/internal/stream/writer.go
  core/internal/transactionlog/reader.go
  core/internal/transactionlog/writer.go
Owners: @wandb/sdk-team

feat: add row iterator
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/files/empty.parquet
  core/tests/files/history.parquet
Owners: @wandb/sdk-team

fix filename typo
  core/internal/runhistoryreader/parquet/partition_reader.go
Owners: @wandb/sdk-team

add wandb parallel
  core/go.mod
  core/go.sum
  core/vendor/github.com/wandb/parallel/.gitignore
  core/vendor/github.com/wandb/parallel/.golangci.yaml
  core/vendor/github.com/wandb/parallel/CODE_OF_CONDUCT.md
  core/vendor/github.com/wandb/parallel/CONTRIBUTING.md
  core/vendor/github.com/wandb/parallel/LICENSE
  core/vendor/github.com/wandb/parallel/NOTICE
  core/vendor/github.com/wandb/parallel/README.md
  core/vendor/github.com/wandb/parallel/SECURITY.md
  core/vendor/github.com/wandb/parallel/collect.go
  core/vendor/github.com/wandb/parallel/errors.go
  core/vendor/github.com/wandb/parallel/group.go
  core/vendor/modules.txt
Owners: @wandb/sdk-team

move to new package
  core/internal/runhistoryreader/parquet/file.go
  core/internal/runhistoryreader/parquet/file_test.go
Owners: @wandb/sdk-team

add more tests
  core/internal/runhistory/reader/historyparquet/file_test.go
Owners: @wandb/sdk-team

add parition reader
  core/internal/runhistoryreader/parquet/parition_reader.go
Owners: @wandb/sdk-team

use pqarrow.FileReader directly
  core/internal/runhistoryreader/parquet/file.go
  core/internal/runhistoryreader/parquet/file_test.go
Owners: @wandb/sdk-team

fix deprecated usages
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Owners: @wandb/sdk-team

move packages
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
Owners: @wandb/sdk-team

fix partition_reader typo
  core/internal/runhistoryreader/parquet/partition_reader.go
Owners: @wandb/sdk-team

add parition reader tests
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Owners: @wandb/sdk-team

move and split iterators into their own files
  core/go.mod
  core/go.sum
  core/internal/runhistoryreader/parquet/iterator/column_iterator.go
  core/internal/runhistoryreader/parquet/iterator/column_iterator_test.go
  core/internal/runhistoryreader/parquet/iterator/noop_iterator.go
  core/internal/runhistoryreader/parquet/iterator/noop_iterator_test.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator_test.go
  core/internal/runhistoryreader/parquet/iterator/row_iterator.go
  core/internal/runhistoryreader/parquet/iterator/row_iterator_test.go
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/internal/runhistoryreader/parquet/row_iterator.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
Owners: @wandb/sdk-team

clean up tests
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/row_iterator_test.go
  core/tests/parquet/parquet_builder.go
Owners: @wandb/sdk-team

update tests
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Owners: @wandb/sdk-team

fix possible seg faults
  core/internal/runhistoryreader/parquet/parition_reader.go
  core/internal/runhistoryreader/parquet/row_iterator.go
Owners: @wandb/sdk-team

update iter naming convention
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Owners: @wandb/sdk-team

fix more comments
  core/go.mod
  core/go.sum
  core/internal/runhistoryreader/parquet/iterator/column_iterator.go
  core/internal/runhistoryreader/parquet/iterator/record_iterator.go
  core/internal/runhistoryreader/parquet/iterator/row_iterator.go
  core/internal/runhistoryreader/parquet/iterator/row_iterator_test.go
  core/internal/runhistoryreader/parquet/partition_reader.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
  core/vendor/github.com/wandb/parallel/.gitignore
  core/vendor/github.com/wandb/parallel/.golangci.yaml
  core/vendor/github.com/wandb/parallel/CODE_OF_CONDUCT.md
  core/vendor/github.com/wandb/parallel/CONTRIBUTING.md
  core/vendor/github.com/wandb/parallel/LICENSE
  core/vendor/github.com/wandb/parallel/NOTICE
  core/vendor/github.com/wandb/parallel/README.md
  core/vendor/github.com/wandb/parallel/SECURITY.md
  core/vendor/github.com/wandb/parallel/collect.go
  core/vendor/github.com/wandb/parallel/errors.go
  core/vendor/github.com/wandb/parallel/group.go
  core/vendor/modules.txt
Owners: @wandb/sdk-team

feat: add multi parition iterator
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Owners: @wandb/sdk-team

move multi iterator to its own file
  core/internal/runhistoryreader/parquet/iterator/multi_iterator.go
  core/internal/runhistoryreader/parquet/iterator/multi_iterator_test.go
  core/internal/runhistoryreader/parquet/partition_reader_test.go
Owners: @wandb/sdk-team

fix(sdk): modernize type hints in wandb.api.public modules (PEP 563/585/604)
  wandb/apis/__init__.py
  wandb/apis/attrs.py
  wandb/apis/internal.py
  wandb/apis/normalize.py
  wandb/apis/public/__init__.py
  wandb/apis/public/api.py
  wandb/apis/public/const.py
  wandb/apis/public/history.py
  wandb/apis/public/jobs.py
  wandb/apis/public/projects.py
  wandb/apis/public/query_generator.py
  wandb/apis/public/registries/__init__.py
  wandb/apis/public/registries/_freezable_list.py
  wandb/apis/public/registries/registry.py
  wandb/apis/public/reports.py
  wandb/apis/public/sweeps.py
  wandb/apis/public/teams.py
  wandb/apis/public/users.py
  wandb/apis/public/utils.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

address comments
  core/internal/runhistoryreader/parquet/iterator/multi_iterator.go
  core/internal/runhistoryreader/parquet/iterator/multi_iterator_test.go
Owners: @wandb/sdk-team
