Repository wandb/wandb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wandb/sdk-team, @wandb/art-reg-team, @wandb/sweeps-launch-team

omit_artifact_fragments should no longer be needed
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

omit_artifact_fragments should no longer be needed
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

omit_artifact_fragments should no longer be needed
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

omit_artifact_fragments should no longer be needed
  tools/graphql_codegen/artifacts/artifacts.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

chore(launch): sanitize config before adding env variables (#10595)
  wandb/sdk/launch/runner/kubernetes_runner.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

refactor(artifacts): decouple transport-free ArtifactCollection attributes into validated ArtifactCollectionData type
  tests/unit_tests/test_automations/conftest.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_models/__init__.py
  wandb/sdk/artifacts/_models/artifact_collection.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): decouple transport-free ArtifactCollection attributes into validated ArtifactCollectionData type
  tests/unit_tests/test_automations/conftest.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_models/__init__.py
  wandb/sdk/artifacts/_models/artifact_collection.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

job builder files dir
  tests/unit_tests/test_job_builder.py
  tests/unit_tests/test_launch/test_create_job.py
  tests/unit_tests/test_launch/test_job.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/internal/sender.py
  wandb/sdk/launch/create_job.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

refactor: don't use `x_files_dir` for JobBuilder (#10582)
  tests/unit_tests/test_job_builder.py
  tests/unit_tests/test_launch/test_create_job.py
  tests/unit_tests/test_launch/test_job.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/internal/sender.py
  wandb/sdk/launch/create_job.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

files dir
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/runfiles/runfiles_test.go
  core/internal/settings/settings.go
  core/internal/tensorboard/emitter_test.go
  core/internal/tensorboard/tensorboard_test.go
  core/pkg/launch/job_builder_test.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  experimental/client-csharp/src/Wandb/Settings.cs
  tests/system_tests/test_core/test_mode_disabled_full.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Owners: @wandb/sdk-team

refactor(artifacts): drop awkward ArtifactWithoutAliasesFragment fragment defintion
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): drop awkward ArtifactWithoutAliasesFragment fragment defintion
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): drop awkward ArtifactWithoutAliasesFragment fragment defintion
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): drop awkward ArtifactWithoutAliasesFragment fragment defintion
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

chore(launch): sanitize labels and matchLabels
  tests/unit_tests/test_launch/test_util.py
  wandb/sdk/launch/utils.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

add tests
  tests/unit_tests/test_launch/test_util.py
  wandb/sdk/launch/utils.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

ruff
  wandb/sdk/launch/utils.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

add another test
  tests/unit_tests/test_launch/test_util.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

refactor: remove `files_dir` from the Settings proto (#10586)
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/runfiles/runfiles_test.go
  core/internal/settings/settings.go
  core/internal/tensorboard/emitter_test.go
  core/internal/tensorboard/tensorboard_test.go
  core/pkg/launch/job_builder_test.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  experimental/client-csharp/src/Wandb/Settings.cs
  tests/system_tests/test_core/test_mode_disabled_full.py
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Owners: @wandb/sdk-team

beta sync files
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/syncsettings.go
  tests/system_tests/test_core/test_offline_sync_beta.py
Owners: @wandb/sdk-team

feat: file uploads in wandb beta sync (#10587)
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/syncsettings.go
  tests/system_tests/test_core/test_offline_sync_beta.py
Owners: @wandb/sdk-team

feat: live leveldb log reader
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/livereader_test.go
Owners: @wandb/sdk-team

simplify and clean up code and tests
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/livereader_test.go
Owners: @wandb/sdk-team

chore: live leveldb log reader (#10572)
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/livereader_test.go
Owners: @wandb/sdk-team

clean up
  core/internal/leet/livestore.go
  core/internal/leet/livestore_test.go
Owners: @wandb/sdk-team

feat: live store abstraction on top of live leveldb log reader
  core/internal/leet/livestore.go
  core/internal/leet/livestore_test.go
Owners: @wandb/sdk-team

chore: live store abstraction on top of live leveldb log reader (#10573)
  core/internal/leet/livestore.go
  core/internal/leet/livestore_test.go
Owners: @wandb/sdk-team

edit docstring
  noxfile.py
Owners: none

chore(sdk): add nox session for python GraphQL codegen (#10601)
  CONTRIBUTING.md
  noxfile.py
  tools/graphql_codegen/README.md
Owners: @wandb/sdk-team

runconsolelogs maintenance
  core/internal/runconsolelogs/linefile.go
  core/internal/runconsolelogs/linefile_test.go
Owners: @wandb/sdk-team

refactor: improve runconsolelogs errors and comments (#10619)
  core/internal/runconsolelogs/linefile.go
  core/internal/runconsolelogs/linefile_test.go
Owners: @wandb/sdk-team

runconsolelogs readat
  CHANGELOG.unreleased.md
  core/internal/runconsolelogs/linefile.go
Owners: @wandb/sdk-team

fix: check ReadAt byte read count instead of error in runconsolelogs (#10620)
  CHANGELOG.unreleased.md
  core/internal/runconsolelogs/linefile.go
Owners: @wandb/sdk-team

flowcontrol flush error
  core/internal/stream/flowcontrol.go
  core/internal/stream/writer.go
Owners: @wandb/sdk-team

updates common disliked cli command descriptions
  wandb/cli/cli.py
Owners: @wandb/sdk-team

ruff
  wandb/cli/cli.py
Owners: @wandb/sdk-team

modified descriptions
  wandb/cli/cli.py
Owners: @wandb/sdk-team

refactor: report Writer.Flush error in FlowControl (#10622)
  core/internal/stream/flowcontrol.go
  core/internal/stream/writer.go
Owners: @wandb/sdk-team

wandb header error msg
  core/pkg/leveldb/livereader.go
  core/pkg/leveldb/record.go
  core/pkg/leveldb/record_internal_test.go
Owners: @wandb/sdk-team

incorporate feedback
  wandb/cli/cli.py
Owners: @wandb/sdk-team

.github/CODEOWNERS:

# GraphQL
/wandb/sdk/internal/internal_api.py @wandb/sdk-team

# Changing public interfaces
/tests/unit_tests/test_library_public.py @wandb/sdk-team
/wandb/__init__.py @wandb/sdk-team

# Updating core tools and testing infrastructure
/tests/backend_fixtures.py @wandb/sdk-team
/tests/conftest.py @wandb/sdk-team

/tests/system_tests/backend_fixtures.py @wandb/sdk-team
/tests/system_tests/wandb_backend_spy/ @wandb/sdk-team
/tests/system_tests/conftest.py @wandb/sdk-team

/tests/unit_tests/conftest.py @wandb/sdk-team

/tools/changelog.py @wandb/sdk-team
/tools/generate_stubs.py @wandb/sdk-team
/tools/local_wandb_server.py @wandb/sdk-team

# Updating type hints
/wandb/__init__.template.pyi @wandb/sdk-team
/wandb/__init__.pyi @wandb/sdk-team

# Packaging and releasing-related files
/pyproject.toml @wandb/sdk-team
/setup.py @wandb/sdk-team
/hatch.toml @wandb/sdk-team
/hatch_build.py @wandb/sdk-team
/CHANGELOG.unreleased.md @wandb/sdk-team
/CHANGELOG.md @wandb/sdk-team
/BREAKING.md @wandb/sdk-team
/MANIFEST.in @wandb/sdk-team
/CONTRIBUTING.md @wandb/sdk-team

# Core code owned by the SDK team
/core/ @wandb/sdk-team
/wandb/ @wandb/sdk-team

# System metrics
/gpu_stats/ @wandb/sdk-team

# CircleCI configuration
/.circleci @wandb/sdk-team

# GitHub configuration
/.github @wandb/sdk-team

# Internal helpers: used by multiple teams, any here can approve
/wandb/_iterutils.py @wandb/sdk-team @wandb/art-reg-team
/wandb/_strutils.py @wandb/sdk-team @wandb/art-reg-team
/wandb/_pydantic/ @wandb/sdk-team @wandb/art-reg-team


# Artifacts, Registries, Automations
/core/pkg/artifacts/                  @wandb/art-reg-team @wandb/sdk-team
/wandb/sdk/artifacts/                 @wandb/art-reg-team @wandb/sdk-team
/wandb/automations/                   @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/registries/        @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/artifacts.py       @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/automations.py     @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/integrations.py    @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_artifacts/   @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_registries/  @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_automations/ @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_artifacts/     @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_registries/    @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_automations/   @wandb/art-reg-team @wandb/sdk-team

# Launch
/wandb/sdk/launch/                    @wandb/sweeps-launch-team @wandb/sdk-team
/tests/system_tests/test_launch/      @wandb/sweeps-launch-team @wandb/sdk-team
/tests/unit_tests/test_launch/        @wandb/sweeps-launch-team @wandb/sdk-team
