Repository wandb/wandb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wandb/sdk-team, @wandb/art-reg-team, @wandb/sweeps-launch-team

.github/CODEOWNERS:

# GraphQL
/wandb/sdk/internal/internal_api.py @wandb/sdk-team

# Changing public interfaces
/tests/unit_tests/test_library_public.py @wandb/sdk-team
/wandb/__init__.py @wandb/sdk-team

# Updating core tools and testing infrastructure
/tests/backend_fixtures.py @wandb/sdk-team
/tests/conftest.py @wandb/sdk-team

/tests/system_tests/backend_fixtures.py @wandb/sdk-team
/tests/system_tests/wandb_backend_spy/ @wandb/sdk-team
/tests/system_tests/conftest.py @wandb/sdk-team

/tests/unit_tests/conftest.py @wandb/sdk-team

/tools/changelog.py @wandb/sdk-team
/tools/generate_stubs.py @wandb/sdk-team
/tools/local_wandb_server.py @wandb/sdk-team

# Updating type hints
/wandb/__init__.template.pyi @wandb/sdk-team
/wandb/__init__.pyi @wandb/sdk-team

# Packaging and releasing-related files
/pyproject.toml @wandb/sdk-team
/setup.py @wandb/sdk-team
/hatch.toml @wandb/sdk-team
/hatch_build.py @wandb/sdk-team
/CHANGELOG.unreleased.md @wandb/sdk-team
/CHANGELOG.md @wandb/sdk-team
/BREAKING.md @wandb/sdk-team
/MANIFEST.in @wandb/sdk-team
/CONTRIBUTING.md @wandb/sdk-team

# Core code owned by the SDK team
/core/ @wandb/sdk-team
/wandb/ @wandb/sdk-team

# System metrics
/gpu_stats/ @wandb/sdk-team

# CircleCI configuration
/.circleci @wandb/sdk-team

# GitHub configuration
/.github @wandb/sdk-team

# Internal helpers: used by multiple teams, any here can approve
/wandb/_iterutils.py @wandb/sdk-team @wandb/art-reg-team
/wandb/_strutils.py @wandb/sdk-team @wandb/art-reg-team
/wandb/_pydantic/ @wandb/sdk-team @wandb/art-reg-team


# Artifacts, Registries, Automations
/core/pkg/artifacts/                  @wandb/art-reg-team @wandb/sdk-team
/wandb/sdk/artifacts/                 @wandb/art-reg-team @wandb/sdk-team
/wandb/automations/                   @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/registries/        @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/artifacts.py       @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/automations.py     @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/integrations.py    @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_artifacts/   @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_registries/  @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_automations/ @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_artifacts/     @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_registries/    @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_automations/   @wandb/art-reg-team @wandb/sdk-team

# Launch
/wandb/sdk/launch/                    @wandb/sweeps-launch-team @wandb/sdk-team
/tests/system_tests/test_launch/      @wandb/sweeps-launch-team @wandb/sdk-team
/tests/unit_tests/test_launch/        @wandb/sweeps-launch-team @wandb/sdk-team

feat: add RemoteParquetFile in file.go for reading remote parquet files
  core/internal/runhistoryreader/parquet/file.go
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/reader.go
Owners: @wandb/sdk-team

feat: add remote http parquet file reader
  core/internal/runhistoryreader/parquet/remote/httpfile.go
  core/internal/runhistoryreader/parquet/remote/httpfile_test.go
Owners: @wandb/sdk-team

feat: wire up get history steps
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
Owners: @wandb/sdk-team

fix build errors
  core/internal/runhistoryreader/parquet/file_test.go
Owners: @wandb/sdk-team

feat: add get run history file urls from backend
  core/api/graphql/query_parquethistory.graphql
  core/internal/gql/gql_gen.go
  core/internal/runhistoryreader/parquet/file_test.go
  core/internal/runhistoryreader/reader.go
  core/internal/runhistoryreader/reader_test.go
Owners: @wandb/sdk-team

rebase code
  core/internal/runhistoryreader/reader.go
Owners: @wandb/sdk-team

fix(sdk): modernize type hints in `wandb.apis.public.*` modules (PEP 563/585/604) (#10594)
  wandb/apis/__init__.py
  wandb/apis/attrs.py
  wandb/apis/internal.py
  wandb/apis/normalize.py
  wandb/apis/public/__init__.py
  wandb/apis/public/api.py
  wandb/apis/public/const.py
  wandb/apis/public/history.py
  wandb/apis/public/jobs.py
  wandb/apis/public/projects.py
  wandb/apis/public/query_generator.py
  wandb/apis/public/registries/__init__.py
  wandb/apis/public/registries/_freezable_list.py
  wandb/apis/public/registries/registry.py
  wandb/apis/public/reports.py
  wandb/apis/public/sweeps.py
  wandb/apis/public/teams.py
  wandb/apis/public/users.py
  wandb/apis/public/utils.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

static progress printer empty lines
  tests/unit_tests/test_lib/test_progress.py
  wandb/sdk/lib/progress.py
Owners: @wandb/sdk-team

fix: don't print empty status lines when output device is not a terminal (#10597)
  tests/unit_tests/test_lib/test_progress.py
  wandb/sdk/lib/progress.py
Owners: @wandb/sdk-team

filestream backpressure
  core/internal/filestream/collectloop.go
  core/internal/filestream/collectloop_test.go
  core/internal/filestream/filestreamimpl.go
Owners: @wandb/sdk-team

refactor: make FileStream.StreamUpdate() block when too much data is accumulated (#10454)
  core/internal/filestream/collectloop.go
  core/internal/filestream/collectloop_test.go
  core/internal/filestream/filestreamimpl.go
Owners: @wandb/sdk-team

filestream request truncation detection
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
Owners: @wandb/sdk-team

deflake flowcontrol test
  core/internal/stream/flowcontrol_test.go
Owners: @wandb/sdk-team

fix(sdk): automatically enforce custom GQL constraints in generated classes
  tests/unit_tests/test_pydantic_v1_compat.py
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/_pydantic/utils.py
  wandb/_pydantic/v1_compat.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/input_types.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

fix(sdk): automatically enforce custom GQL constraints in generated classes
  CHANGELOG.unreleased.md
  tests/unit_tests/test_pydantic_v1_compat.py
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/_pydantic/v1_compat.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/input_types.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

fix(sdk): automatically enforce custom GQL constraints in generated classes
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/projects/_generated/input_types.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

fix(sdk): automatically enforce custom GQL constraints in generated classes
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/projects/_generated/input_types.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

fix(sdk): automatically enforce custom GQL constraints in generated classes
  CHANGELOG.unreleased.md
  tests/unit_tests/test_pydantic_v1_compat.py
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/_pydantic/v1_compat.py
  wandb/automations/_generated/input_types.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/projects/_generated/input_types.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

chore(dev): add nox session for python GraphQL codegen
  CONTRIBUTING.md
  noxfile.py
  tools/graphql_codegen/README.md
Owners: @wandb/sdk-team

refactor(artifacts): rename graphql definitions for consistency
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_files.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_file_urls.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_files.py
  wandb/sdk/artifacts/_generated/artifact_file_urls.py
  wandb/sdk/artifacts/_generated/artifact_version_files.py
  wandb/sdk/artifacts/_generated/fetch_registries.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collections.py
  wandb/sdk/artifacts/_generated/project_artifact_types.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/registry_collections.py
  wandb/sdk/artifacts/_generated/registry_versions.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): rename graphql definitions for consistency
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_files.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_file_urls.py
  wandb/sdk/artifacts/_generated/artifact_collection_membership_files.py
  wandb/sdk/artifacts/_generated/artifact_file_urls.py
  wandb/sdk/artifacts/_generated/artifact_version_files.py
  wandb/sdk/artifacts/_generated/fetch_registries.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collections.py
  wandb/sdk/artifacts/_generated/project_artifact_types.py
  wandb/sdk/artifacts/_generated/project_artifacts.py
  wandb/sdk/artifacts/_generated/registry_collections.py
  wandb/sdk/artifacts/_generated/registry_versions.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): more graphql definitions cleanup for consistency
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_files.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/_pydantic/pagination.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

refactor(artifacts): more graphql definitions cleanup for consistency
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifact_files.graphql
  tools/graphql_codegen/artifacts/artifact_types.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/_pydantic/pagination.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

chore: deflake flowcontrol_test.go (#10598)
  core/internal/stream/flowcontrol_test.go
Owners: @wandb/sdk-team

filestream request truncation detection
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
Owners: @wandb/sdk-team

fix: filestream request truncation detection (#10599)
  core/internal/filestream/filestreamrequest.go
  core/internal/filestream/filestreamrequest_test.go
Owners: @wandb/sdk-team

delete unused progress.py code
  wandb/sdk/lib/progress.py
Owners: @wandb/sdk-team

refactor(artifacts): handle ArtifactType GQL data with generated pydantic types
  wandb/apis/public/artifacts.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): handle ArtifactType GQL data with generated pydantic types
  wandb/apis/public/artifacts.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): handle ArtifactType GQL data with generated pydantic types
  wandb/apis/public/artifacts.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

chore: delete unused progress.py code (#10596)
  wandb/sdk/lib/progress.py
Owners: @wandb/sdk-team

job builder settings
  core/internal/stream/sender.go
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Owners: @wandb/sdk-team

refactor: use Settings object rather than proto in job_builder.go (#10585)
  core/internal/stream/sender.go
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Owners: @wandb/sdk-team

refactor(artifacts): shared tag/alias GQL fragments and types
  tests/unit_tests/test_artifacts/test_saved_model.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/misc.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/create_artifact_collection_tag_assignments.py
  wandb/sdk/artifacts/_generated/fetch_linked_artifacts.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collection.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): shared tag/alias GQL fragments and types
  tests/unit_tests/test_artifacts/test_saved_model.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/misc.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/create_artifact_collection_tag_assignments.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collection.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

refactor(artifacts): shared tag/alias GQL fragments and types
  tests/unit_tests/test_artifacts/test_saved_model.py
  tools/graphql_codegen/artifacts/artifact_collections.graphql
  tools/graphql_codegen/artifacts/artifacts.graphql
  tools/graphql_codegen/artifacts/misc.graphql
  tools/graphql_codegen/artifacts/registries.graphql
  wandb/apis/public/artifacts.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/create_artifact_collection_tag_assignments.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/project_artifact_collection.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

fix(sdk): remove unused fragment defs in rewritten GQL queries
  tests/unit_tests/test_api_utils.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/apis/public/utils.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

fix(sdk): remove unused fragment defs in rewritten GQL queries
  tests/unit_tests/test_api_utils.py
  wandb/apis/public/utils.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

add type hint
  wandb/apis/paginator.py
  wandb/apis/public/artifacts.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

add type hint
  wandb/apis/public/artifacts.py
Owners: @wandb/art-reg-team, @wandb/sdk-team
