Repository wandb/wandb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wandb/sdk-team, @wandb/art-reg-team, @wandb/sweeps-launch-team

.github/CODEOWNERS:

# GraphQL
/wandb/sdk/internal/internal_api.py @wandb/sdk-team

# Changing public interfaces
/tests/unit_tests/test_library_public.py @wandb/sdk-team
/wandb/__init__.py @wandb/sdk-team

# Updating core tools and testing infrastructure
/tests/backend_fixtures.py @wandb/sdk-team
/tests/conftest.py @wandb/sdk-team

/tests/system_tests/backend_fixtures.py @wandb/sdk-team
/tests/system_tests/wandb_backend_spy/ @wandb/sdk-team
/tests/system_tests/conftest.py @wandb/sdk-team

/tests/unit_tests/conftest.py @wandb/sdk-team

/tools/changelog.py @wandb/sdk-team
/tools/generate_stubs.py @wandb/sdk-team
/tools/local_wandb_server.py @wandb/sdk-team

# Updating type hints
/wandb/__init__.template.pyi @wandb/sdk-team
/wandb/__init__.pyi @wandb/sdk-team

# Packaging and releasing-related files
/pyproject.toml @wandb/sdk-team
/setup.py @wandb/sdk-team
/hatch.toml @wandb/sdk-team
/hatch_build.py @wandb/sdk-team
/CHANGELOG.unreleased.md @wandb/sdk-team
/CHANGELOG.md @wandb/sdk-team
/BREAKING.md @wandb/sdk-team
/MANIFEST.in @wandb/sdk-team
/CONTRIBUTING.md @wandb/sdk-team

# Core code owned by the SDK team
/core/ @wandb/sdk-team
/wandb/ @wandb/sdk-team

# System metrics
/gpu_stats/ @wandb/sdk-team

# CircleCI configuration
/.circleci @wandb/sdk-team

# GitHub configuration
/.github @wandb/sdk-team

# Internal helpers: used by multiple teams, any here can approve
/wandb/_iterutils.py @wandb/sdk-team @wandb/art-reg-team
/wandb/_strutils.py @wandb/sdk-team @wandb/art-reg-team
/wandb/_pydantic/ @wandb/sdk-team @wandb/art-reg-team


# Artifacts, Registries, Automations
/core/pkg/artifacts/                  @wandb/art-reg-team @wandb/sdk-team
/wandb/sdk/artifacts/                 @wandb/art-reg-team @wandb/sdk-team
/wandb/automations/                   @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/registries/        @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/artifacts.py       @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/automations.py     @wandb/art-reg-team @wandb/sdk-team
/wandb/apis/public/integrations.py    @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_artifacts/   @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_registries/  @wandb/art-reg-team @wandb/sdk-team
/tests/system_tests/test_automations/ @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_artifacts/     @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_registries/    @wandb/art-reg-team @wandb/sdk-team
/tests/unit_tests/test_automations/   @wandb/art-reg-team @wandb/sdk-team

# Launch
/wandb/sdk/launch/                    @wandb/sweeps-launch-team @wandb/sdk-team
/tests/system_tests/test_launch/      @wandb/sweeps-launch-team @wandb/sdk-team
/tests/unit_tests/test_launch/        @wandb/sweeps-launch-team @wandb/sdk-team

chore: lint
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

feat(launch): for public queue agents, use the user api key for run status checks (#10412)
  tests/unit_tests/test_launch/test_agent/test_launch_api_provider.py
  tests/unit_tests/test_launch/test_runner/test_kubernetes.py
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/agent/launch_api_provider.py
  wandb/sdk/launch/runner/abstract.py
  wandb/sdk/launch/runner/kubernetes_runner.py
  wandb/sdk/launch/runner/local_container.py
  wandb/sdk/launch/runner/sagemaker_runner.py
  wandb/sdk/launch/runner/vertex_runner.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

monitor runhandle
  core/internal/monitor/cwmetadata.go
  core/internal/monitor/cwmetadata_test.go
  core/internal/monitor/monitor.go
  core/internal/stream/wire_gen.go
Owners: @wandb/sdk-team

refactor: use runhandle in cwmetadata (#10541)
  core/internal/monitor/cwmetadata.go
  core/internal/monitor/cwmetadata_test.go
  core/internal/monitor/monitor.go
  core/internal/stream/wire_gen.go
Owners: @wandb/sdk-team

chore: fix wandb-core startup command in c# client (#10558)
  experimental/client-csharp/src/Wandb/Internal/Manager.cs
Owners: none

fix(artifacts): bypass `InternalApi()` for artifacts GQL introspection queries (#10545)
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  tests/system_tests/test_registries/test_registry_artifacts_public_api.py
  tools/graphql_codegen/artifacts/misc.graphql
  tools/graphql_codegen/plugin.py
  tools/graphql_codegen/plugin_utils.py
  wandb/apis/public/artifacts.py
  wandb/apis/public/registries/registries_search.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/type_info.py
  wandb/sdk/artifacts/_gqlutils.py
  wandb/sdk/artifacts/artifact.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

word smithing: imperative tone
  wandb/sdk/wandb_run.py
Owners: @wandb/sdk-team

ruff
  wandb/__init__.pyi
Owners: @wandb/sdk-team

chore(launch): use job api when checking run status
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/agent/launch_api_provider.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

chore: centralize api around provider
  wandb/sdk/launch/agent/agent.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

handler race
  core/internal/stream/handler.go
Owners: @wandb/sdk-team

chore: fix another race in handler_test.go (#10583)
  core/internal/stream/handler.go
Owners: @wandb/sdk-team

job builder files dir
  tests/unit_tests/test_job_builder.py
  tests/unit_tests/test_launch/test_create_job.py
  tests/unit_tests/test_launch/test_job.py
  wandb/sdk/internal/job_builder.py
  wandb/sdk/internal/sender.py
  wandb/sdk/launch/create_job.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

job builder settings
  core/internal/stream/sender.go
  core/pkg/launch/config_files.go
  core/pkg/launch/job_builder.go
  core/pkg/launch/job_builder_test.go
Owners: @wandb/sdk-team

files dir
  core/internal/runconsolelogs/runconsolelogs_test.go
  core/internal/runfiles/runfiles_test.go
  core/internal/settings/settings.go
  core/internal/tensorboard/emitter_test.go
  core/internal/tensorboard/tensorboard_test.go
  core/pkg/launch/job_builder_test.go
  core/pkg/service_go_proto/wandb_settings.pb.go
  wandb/proto/v3/wandb_settings_pb2.py
  wandb/proto/v3/wandb_settings_pb2.pyi
  wandb/proto/v4/wandb_settings_pb2.py
  wandb/proto/v4/wandb_settings_pb2.pyi
  wandb/proto/v5/wandb_settings_pb2.py
  wandb/proto/v5/wandb_settings_pb2.pyi
  wandb/proto/v6/wandb_settings_pb2.py
  wandb/proto/v6/wandb_settings_pb2.pyi
  wandb/proto/wandb_settings.proto
  wandb/sdk/wandb_init.py
  wandb/sdk/wandb_settings.py
Owners: @wandb/sdk-team

beta sync files
  core/internal/runsync/runsyncmanager.go
  core/internal/runsync/runsyncoperation.go
  core/internal/runsync/syncsettings.go
  tests/system_tests/test_core/test_offline_sync_beta.py
Owners: @wandb/sdk-team

chore: try making pre-run use agent api
  wandb/sdk/launch/agent/agent.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

chore: go back to using _api
  wandb/sdk/launch/agent/agent.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

cleanup: remove unnecessary comment about custom exceptions
  wandb/sdk/artifacts/artifact_manifest_entry.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

feat(artifacts): optimize artifact re-verification with checksum caching (#10157)
  CHANGELOG.unreleased.md
  wandb/sdk/artifacts/artifact_file_cache.py
  wandb/sdk/artifacts/artifact_manifest_entry.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

Update CHANGELOG.unreleased.md
  CHANGELOG.unreleased.md
Owners: @wandb/sdk-team

feat(sdk): implement lazy loading for API runs for performance improvement (#10034)
  CHANGELOG.unreleased.md
  wandb/apis/public/api.py
  wandb/apis/public/files.py
  wandb/apis/public/runs.py
Owners: @wandb/sdk-team

chore: handle no agent api key
  wandb/sdk/launch/_project_spec.py
  wandb/sdk/launch/runner/kubernetes_runner.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

chore: add some debug
  wandb/sdk/launch/runner/kubernetes_runner.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

cleanup
  CHANGELOG.unreleased.md
  tests/system_tests/test_registries/conftest.py
  tests/system_tests/test_registries/test_link_registry.py
  tests/system_tests/test_registries/test_registry.py
  tests/system_tests/test_registries/test_registry_members.py
  tools/graphql_codegen/artifacts/registry_members.graphql
  wandb/apis/public/registries/_members.py
  wandb/apis/public/registries/_utils.py
  wandb/apis/public/registries/registry.py
  wandb/sdk/artifacts/_generated/__init__.py
  wandb/sdk/artifacts/_generated/create_registry_members.py
  wandb/sdk/artifacts/_generated/fragments.py
  wandb/sdk/artifacts/_generated/input_types.py
  wandb/sdk/artifacts/_generated/operations.py
  wandb/sdk/artifacts/_generated/update_registry_role.py
  wandb/sdk/artifacts/_generated/update_team_registry_role.py
  wandb/sdk/artifacts/_generated/update_user_registry_role.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

fix(launch): handle non-dicts when sanitizing k8s identifiers
  tests/unit_tests/test_launch/test_util.py
  wandb/sdk/launch/utils.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

chore: pre-commit
  tests/unit_tests/test_launch/test_util.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

fix(launch): handle non-dicts when sanitizing k8s identifiers (#10589)
  tests/unit_tests/test_launch/test_util.py
  wandb/sdk/launch/utils.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

fix(launch): use job api to check run statuses
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/agent/launch_api_provider.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

feat(artifacts): set storage region in manifest's storage policy config
  CHANGELOG.unreleased.md
  core/api/graphql/schemas/commit.hash.txt
  core/internal/gql/gql_gen.go
  core/internal/stream/sender.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  core/pkg/artifacts/saver.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/_factories.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/interface/interface.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

feat(artifacts): set storage region in manifest's storage policy config (#10533)
  CHANGELOG.unreleased.md
  core/api/graphql/schemas/commit.hash.txt
  core/internal/gql/gql_gen.go
  core/internal/stream/sender.go
  core/pkg/artifacts/manifest.go
  core/pkg/artifacts/manifest_test.go
  core/pkg/artifacts/saver.go
  tests/system_tests/test_artifacts/test_wandb_artifacts_full.py
  tests/unit_tests/test_artifacts/test_storage.py
  wandb/sdk/artifacts/_factories.py
  wandb/sdk/artifacts/artifact.py
  wandb/sdk/artifacts/storage_policies/wandb_storage_policy.py
  wandb/sdk/interface/interface.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

chore: revert to agent_api for sweeps on launch
  tools/launch_release/build/Dockerfile
  wandb/sdk/launch/agent/agent.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

chore: precommit and incorrect class member
  wandb/sdk/launch/agent/agent.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

fix(launch): use job api to check run statuses (#10592)
  tools/launch_release/build/Dockerfile
  wandb/sdk/launch/agent/agent.py
  wandb/sdk/launch/agent/launch_api_provider.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

fix(sdk): Api.artifact_exists and Api.artifact_collection_exists should raise on timeout errors
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/apis/public/api.py
  wandb/errors/errors.py
  wandb/sdk/data_types/bokeh.py
  wandb/util.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

drop redundant test case
  tests/system_tests/test_artifacts/test_artifact_public_api.py
Owners: @wandb/art-reg-team, @wandb/sdk-team

fix(artifacts): `Api.artifact_exists` and `Api.artifact_collection_exists` should raise on timeout errors (#10591)
  CHANGELOG.unreleased.md
  tests/system_tests/test_artifacts/test_artifact_public_api.py
  wandb/apis/public/api.py
  wandb/errors/errors.py
  wandb/sdk/data_types/bokeh.py
  wandb/util.py
Owners: @wandb/sdk-team, @wandb/art-reg-team

chore(launch): sanitize config before adding env variables
  wandb/sdk/launch/runner/kubernetes_runner.py
Owners: @wandb/sweeps-launch-team, @wandb/sdk-team

remove colons
  wandb/sdk/data_types/image.py
Owners: @wandb/sdk-team

fix formatting and add context on normalization
  wandb/sdk/data_types/image.py
Owners: @wandb/sdk-team
